<header clas="d-flex align-items-center justify-content-center">
    <span>Today's reservations</span>
    
    <a
    class="float"
    type="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <fa-icon id="menuBars" [icon]="menuIcon"></fa-icon>
  </a>
  <div class="dropdown-menu dropdown-primary globalShadow">
    <a
      class="dropdown-item nav-link"
      routerLink="/waiter/reservations"
      routerLinkActive="active"
      >Reservations
    </a>

    <a
      class="dropdown-item nav-link"
      routerLink="/waiter/tables"
      routerLinkActive="active"
      >Service</a
    >
    
    <a class="dropdown-item nav-link" routerLink="" (click)="logout()" >Logout</a>
  </div>
</header>
<section class='container-fluid'>
<ul *ngFor='let reservation of reservations | async'>
<app-reservation-view [reservationDetails]='reservation' (updateEmitter)="updateReservations()"></app-reservation-view>
</ul>


<a class="check-reservations-button" type="button" (click)="checkReservations()">
  <fa-icon id="iconPlus" [icon]="plusIcon"></fa-icon>

</a>
</section>
