<section
  class="accordion"
  id="accordionOrders"
  role="tablist"
  aria-multiselectable="true"
>
  <div class="card container-fluid">
    <div class="card-header" role="tab" id="customizeHeader">
      <a
        class="collapsed"
        data-toggle="collapse"
        data-parent="#accordionOrders"
        href="#collapseOrders"
        aria-expanded="false"
        aria-controls="collapseOrders"
      >
        <h4 class="title">
          Customize order
        </h4>
      </a>
    </div>

    <div
      id="collapseOrders"
      class="collapse show"
      role="tabpanel"
      aria-labelledby="#customizeHeader"
      data-parent="#accordionOrders"
    >
      <div class="card-body">
        <div class="select-box">
          <ng-container *ngIf="currentCategory">
          <mat-form-field>
            <mat-select  [(ngModel)]="currentCategory">
              <mat-select-trigger>
                <div class="categorySelectView">{{ currentCategory.name |titlecase }}</div><!--img src="../../../../../assets/images/{{currentCategory.icon}}"alt="photo">{{currentCategory.name |titlecase }}--</div-->
              </mat-select-trigger>
              <mat-option *ngFor='let category of categories' [value]="category"><div class="categorySelectView"><img src="../../../../../assets/images/{{category.icon | titlecase}}"alt="p">{{category.name |titlecase }}</div></mat-option>
            </mat-select>
          
          </mat-form-field>
        </ng-container>
      </div>
        
        <li>
          <ul *ngFor="let product of products">
            <button
              class="productInfo d-flex justify-content-between globalShadow"
              (click)="addToSummaryProducts(product, 1)"
              *ngIf="product.categoryId == currentCategory.id"
            >
              <div>{{ product.name }}</div>
              <fa-icon class="iconAddProduct" [icon]="iconPlusCircle"></fa-icon>
            </button>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="card container-fluid">
    <div
      class="card-header"
      role="tab"
      id="summaryHeader"
      (click)="counterBadge = 0"
    >
      <a
        class="collapsed"
        data-toggle="collapse"
        data-parent="#accordionOrders"
        href="#collapseSummary"
        aria-expanded="false"
        aria-controls="collapseSummary"
      >
        <h4 class="title">
          Chosen products <span class="badge badge-pill badge-info">{{
            counterBadge
          }}</span>
        </h4>
      </a>
      
    </div>

    <div
      id="collapseSummary"
      class="collapse"
      role="tabpanel"
      aria-labelledby="#summaryHeader"
      data-parent="#accordionOrders"
    >
      <div class="card-body">
        <app-order-summary [tableId]="tableId" [orderEdit]="orderEdit" [productsToAdd]="productsToAdd" (close)="closeBottomSheet($event)"></app-order-summary>
      </div>
    </div>
  </div>
</section>
