section{
    padding:0;
    margin:0;
}

.card{
    padding:0;
}
.card-body{
    padding:5px;
}
.collapsed{
    color:black;
    font-weight:bold;
}
a{
    color:black;
}
.categoryButton{
    //margin:auto;
    max-width:150px;
    max-height:50px;
    font-weight:bold;
    border-radius:2em;
}
.responsive-width {
    font-size:80% ;
    width:100px;
    max-width:100px;
    max-height:45px;
    //display: flex;
    //justify-content:space-between;
    //flex-direction:column;
}
