@import "../../../../../styles.scss";
section {
  padding: 0;
  margin: 0;
}
.card {
  padding: 0;
  border-radius:20px;
}
.title {
  text-align: center;
  font-size: 20px;
  margin-right:10px;
}
a:active,
a:focus {
  outline: 0;
}
a:hover {
  color: #aaa;
  text-decoration: none;
}

.card-body {
  padding: 5px;
}

a {
  color: black;
}


.collapsed{
  font-weight:normal;
}
.productInfo {
  font-size: 15px;
  background-color: $buttonLight;
  border-radius: 1em;
  outline: none;
  border: none;
  color: $textLight;
  padding:2px 10px;
}


.productInfo:hover{
  cursor:pointer;
}
.iconAddProduct{
  font-size:10px;
}
select {
    max-width: 200px;
    border-radius: 1em;
    //padding: 4px 8px;
    font-size: 15px;
    margin: 5px;
    outline: none;
    margin:auto;
    text-align: center;
}

.select-box {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}


.borderRadius{
  border-radius:20px;
}
mat-form-field{
  width:200px;
}
.categorySelectView{
  display:flex;
  justify-content:center;
  align-items: center;
  font-size:20px;
  img{
    margin-right:20px;
    width: 25px;
    max-height: 25px;
  }

  span {
    min-width: 100px;
  }

}
li{
  list-style-type:none;
}
.badge{
  background-color: $buttonLight;
  color:$textLight;
  border-radius: 10rem;
  font-size:15px;
  padding:3px 6px;
}
.card-header{
  padding:10px 0px;
  text-align:center;
}
h4{
  margin-bottom:0;
}
