<section class="d-flex container-fluid flex-column col-md-8 offset-md-2">
  <h2>Registration</h2>
  <form (submit)="createAccount()" [formGroup]="userForm">
    <h3>User data</h3>
    
    <div class="block d-flex justify-content-around flex-column">
      
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          id="firstName"
          placeholder=""
        />

        <div class="warning-box">
          <ng-container
            *ngIf="
              userForm.get('firstName').touched &&
              userForm.get('firstName').invalid
            "
          >
            <span
              class="warning"
              *ngIf="userForm.get('firstName').errors.required"
              >First name input can't be empty</span
            >
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          id="lastName"
          placeholder=""
        />

        <div class="warning-box">
          <ng-container
            *ngIf="
              userForm.get('lastName').touched &&
              userForm.get('lastName').invalid
            "
          >
            <span
              class="warning"
              *ngIf="userForm.get('lastName').errors.required"
              >Last name input can't be empty</span
            >
          </ng-container>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input
        type="text"
        formControlName="position"
        class="form-control"
        id="position"
        placeholder=""
      />

      <div class="warning-box">
        <ng-container
          *ngIf="
            userForm.get('position').touched && userForm.get('position').invalid
          "
        >
          <span class="warning" *ngIf="userForm.get('position').errors.required"
            >Position input can't be empty</span
          >
        </ng-container>
      </div>
    </div>
    <h3>Account details</h3>
    <div class="block d-flex justify-content-around flex-column">
     
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          id="username"
          placeholder=""
        />

        <div class="warning-box">
          <ng-container
            *ngIf="
              userForm.get('username').touched &&
              userForm.get('username').invalid
            "
          >
            <span
              class="warning"
              *ngIf="userForm.get('username').errors.required"
              >Username input can't be empty</span
            >
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="text"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder=""
        />

        <div class="warning-box">
          <ng-container
            *ngIf="
              userForm.get('password').touched &&
              userForm.get('password').invalid
            "
          >
            <span
              class="warning"
              *ngIf="userForm.get('password').errors.required"
              >Password input can't be empty</span
            >
          </ng-container>
        </div>
      </div>
    </div>
  
    <div class="buttons-container d-flex justify-content-around">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!userForm.valid"
      >
        <!--fa-icon-- [icon]="acceptIcon"></!--fa-icon-->
        Create
      </button>

      <button type="button" class="btn btn-danger" (click)="resetForm()">
        <!--fa-icon-- [icon]="cancelIcon"></!--fa-icon-->
        Cancel
      </button>
    </div>
  </form>
</section>
