<div  class="orderDiv" >
    <ng-container>
        <div class="orderNumber">Order number: {{order.id}}</div>
        <div class="date">Order date: {{order.orderDate | date:'dd-MM-yyyy hh:mm'}}</div>    
    </ng-container>  

<ng-container *ngIf="order.orderedProducts.length>0">  
    <div *ngIf="showProducts">
        <app-history-order-products [productInOrder]="order.orderedProducts"></app-history-order-products>
    </div>
    <div (click) ="showOrHideProducts()" class="showProducts ">
            <span *ngIf="showProducts" class="material-icons">expand_less</span>
            <span *ngIf="!showProducts" class="material-icons">expand_more</span>
    </div>

</ng-container> 

</div>




