.orderDiv {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
   // display:flex;
    //flex: auto;
}
.orderNumber {
    background-color: lightgray;
}
.material-icons:hover{
    background-color: rgba(0,0,0,0.2);
}

