@import "../../../../styles.scss";
.orderDiv {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    color: $textDark;
}
.orderNumber {
    background-color: $main;
    color: $textLight;
}
.material-icons:hover{
    background-color: rgba(0,0,0,0.2);
}
.date{
    background-color: $lightBlue;
}

