@import "../../../../../../styles.scss";

.table {
    background-color: $gray;
    border-radius: 8px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

div {
    text-align: center;
}

.selectBox {
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 15px;
    color: #FFFFFF;
    background: $buttonDark;
}

.productDiv {
    background-color:#FFFFFF;
    border-radius: 4px;
    margin-bottom: 2px;
    display: flex;
    justify-content:space-evenly;
    padding: 0.5em;
}

.header {
    display: flex;
    justify-content:space-evenly;
    padding: 0.5em;
}

span {
    flex: 1;
}

label {
    font-size: 2rem;
    font-weight: bold;
}