
<div>
    <div class="label">
        <h2>Products</h2>
    </div>
    <div>  
        <select class="globalShadow selectBox" [(ngModel)] = "selectedCategoryId"  >
            <ng-container *ngFor = "let category of categories" >
               <option [ngValue] = "category.id" class = "product" >{{category.name}}</option>
            </ng-container>           
        </select>
    </div>
</div>
<div  class="globalShadow table">
    <div class="header">
        <span class="productInfo">Name</span>
        <span class="productInfo">Price</span>
    </div>
    <div *ngFor = "let product of products">
        <div class="productDiv" *ngIf = "product.categoryId==selectedCategoryId">
           <span class="productInfo"> {{product.name}} </span>  
           <span class="productInfo"> {{product.price | number : '1.2-2'}} </span>
        </div>
    </div>
</div>