<div class="grid" >
    <ng-container *ngFor = "let order of orders">
      <div class="orderBackground globalShadow ">
        <div class="orderTitle globalShadow">
            {{order.id}}
        </div>
        <div class="timer">
            {{order.orderDate}}
        </div>       
            <app-order-item (emitter)="onOrderCompleted($event)" [order] = "order" [productInOrder]="order.orderedProducts"></app-order-item>
        <div >                         
              <app-order-comment [order]="order"></app-order-comment>           
        </div>
      </div>
      
    </ng-container>
</div>

