@import "../../../../styles.scss";

.orderBackground {
    background-color: $gray;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;  
    min-height: 0;  
    
}
.orderTitle {
    background-color: #192a56;
    height: 30px;
    color: white;
    text-align: center;
    padding: 3px;
   
}
.timer {
    color: white;
    text-align: center;
    background-color: #40739e;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr); 
}

@media (max-width:1140px){
    .grid {
        grid-template-columns: repeat(4,1fr); 
    }
}

@media (max-width:960px){
    .grid {
        grid-template-columns: repeat(3,1fr); 
    }
}

@media (max-width:720px){
    .grid {
        grid-template-columns: repeat(2,1fr); 
    }
}