<section>
  <label for="startDate">Reservation date</label>
  <input
    id="startDate"
    [(ngModel)]="reservationDatetime"
    [min]="newDate"
    class="reservation-details form-control globalShadow"
    (ngModelChange)="checkReservations($event)"
    [owlDateTime]="dt1"
    [owlDateTimeTrigger]="dt1"
    placeholder=""
  />
  <owl-date-time  #dt1></owl-date-time>

  <!--div class="select-box">
    <label for="selectSeatNumber">Seats number</label>
    <select id="selectSeatNumber" [(ngModel)]="seatNumber">
      <ng-container *ngFor="let seat of tablesSeats">
        <option [ngValue]="seat" (click)="chooseTablesBySeats(seatNumber)">{{
          seat
        }}</option>
      </ng-container>
    </select>
  </div-->
  <div class="select-box">
                
    <mat-form-field>
      <mat-label>Seats number</mat-label>
      <mat-select  [(ngModel)]="seatNumber">
        <mat-select-trigger>
          <div class="floorSelectView">{{seatNumber}}</div>
        </mat-select-trigger>
        <ng-container *ngFor="let seat of tablesSeats">
            <mat-option  [value]="seat" (click)="chooseTablesBySeats(seatNumber)"><div class="floorSelectView">{{
              seat
            }}</div></mat-option>
        </ng-container>
       
      </mat-select>
    
    </mat-form-field>
  
</div>
  <div class="tables-wrapper">
    <ng-container *ngIf="rooms">
      <div class="select-box">
                
        <mat-form-field>
          <mat-select  [(ngModel)]="currentID" (change)="setTables()">
            <mat-select-trigger>
              <div class="floorSelectView">{{currentRoom.name}}</div>
            </mat-select-trigger>
            <ng-container *ngFor="let room of rooms">
                <mat-option  [value]="room.id"><div class="floorSelectView">{{room.name}}</div></mat-option>
            </ng-container>
           
          </mat-select>
        
        </mat-form-field>
      
    </div>
      <div class="grid-wrapper">
        <ng-container *ngIf="grid">
          <ng-container *ngFor="let row of grid">
            <div class="tableRow">
              <ng-container *ngFor="let col of row">
                <!--ng-container *ngIf="col; else empty"-->
                <ng-container [ngSwitch]="checkTable(col)">
                  <app-table-view *ngSwitchCase="1"
                    [table]="col"
                    [newReservation]="newReservation"
                    [reservationDate]="reservationDatetime"
                    [reservations]="data.reservations"
                    [avaivableReservations]="currentReservations"
                  ></app-table-view>
                  <app-empty-view *ngSwitchCase="2" [booked]="true"></app-empty-view>
                  <app-empty-view *ngSwitchCase="0" [booked]="false"></app-empty-view>
                </ng-container>
                
                  
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
