
<section class="col-10 offset-1 reservation-details globalShadow" (click)="updateReservation(reservationDetails)">
    <span class="container-fluid d-flex inline-block justify-content-center dateDetails">{{reservationDetails.startDate | date:'H:mm '}} - {{reservationDetails.endDate |  date:'H:mm'}}</span>
    <span class="container-fluid d-flex inline-block justify-content-center tableDetails">Table #{{reservationDetails.tableId}}</span>
    <span class="container-fluid d-flex inline-block justify-content-center customerDetails">{{reservationDetails.customerName}}</span>
    <span class="container-fluid d-flex inline-block justify-content-center guestsNumberDetails">{{reservationDetails.numberOfSeats}} guests</span>
    <span *ngIf="reservationDetails.note" class="container-fluid d-flex inline-block justify-content-center">{{reservationDetails.note}}</span>
    <a
    class="float"
    type="button"(click)="deleteReservation(reservationDetails)"
    
  >
    <fa-icon id="deleteReservationIcon" [icon]="deleteReservationIcon"></fa-icon>
  </a>
</section>

