<ng-container *ngIf="table">
  <header [ngClass]="getClass()">
    <span>Table #{{ table.tableID }} </span>
    
    <a routerLink="/waiter/tables" class="btnBack"
      ><fa-icon id="backIcon" [icon]="buttonBack"></fa-icon
    ></a>
  </header>

  
  <section class="tableOrders container-fluid col-12">
    <div
      class="d-flex align-items-center justify-content-between currentOrders"
    >
      <h3>Current orders</h3>
      <button
        class="btn btn-success globalShadow"
        mat-raised-button
        (click)="openBottomSheet()"
      >
        <fa-icon [icon]="iconPlusCircle"></fa-icon> Add
      </button>
    </div>

    <div class="summary container-fluid">
      <a type="button" class="iconBill"
        ><fa-icon  [icon]="iconBill"></fa-icon
      ></a>
    </div>
  </section>
</ng-container>
