<ng-container *ngIf="table">
  <header [ngClass]="getClassTable()">
    <span>Table #{{ table.number }} </span>

    <a routerLink="/waiter/tables" class="btnBack"
      ><fa-icon id="backIcon" [icon]="buttonBack"></fa-icon
    ></a>
  </header>

  <section class="tableOrders container-fluid col-12">
    <div
      class="d-flex align-items-center justify-content-between currentOrders"
    >
      <h3>Current orders</h3>
      <button
        *ngIf="!productsInOrder"
        class="btn btn-success globalShadow"
        mat-raised-button
        (click)="openBottomSheetOrder()"
      >
        <fa-icon [icon]="iconPlusCircle"></fa-icon> Add
      </button>
      <button
        *ngIf="productsInOrder"
        class="btn btn-success globalShadow"
        mat-raised-button
        (click)="openBottomSheetOrder()"
      >
        <fa-icon [icon]="iconEdit"></fa-icon> Edit
      </button>
    </div>
    <ng-container *ngIf="orderDetails">
    <section class="orderInformation" >
      <ul class="text-center">
        Addition time:
        {{
          orderDetails.orderDate | date: "short"
        }}
      </ul>
      <ul class="text-center" *ngIf="orderDetails.note != ''">
        Note:
        {{
          orderDetails.note
        }}
      </ul>
      <li class="orderProducts">
        <ng-container *ngIf="productsInOrder">
          <ul
            class="productInfo justify-content-between d-flex align-items-center"
            [ngClass]="getClassProduct(product.status)"
            *ngFor="let product of productsInOrder"
            (click)="changeOfProductStatus(product)"
          >
            <div class="productName">{{ product.product.name }}</div>
            <div class="productState">{{ product.status | status }}</div>
            <!--div-- class="productState" *ngIf = "product.status=='In progress'"><div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div></!--div-->
          </ul>
        </ng-container>
      </li>
      <div class="summary container-fluid">
        <a type="button" (click)="openBottomSheetBill()" class="iconBill"
          ><fa-icon [icon]="iconBill"></fa-icon
        ></a>
      </div>
    </section>
  </ng-container>
  </section>
</ng-container>
