@import '../../../../../styles.scss';

h4 {
    text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}

section {
    background-color: $background;
}

mat-dialog-container {
    padding: 0px;
}