<section>
    <a
    class="float"
    type="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <fa-icon id="menuBars" [icon]="menuIcon"></fa-icon>
  </a>
  <div class="dropdown-menu dropdown-primary globalShadow">
    <a
      class="dropdown-item nav-link"
      routerLink="/waiter/reservations"
      routerLinkActive="active"
      >Reservations
    </a>

    <a
      class="dropdown-item nav-link"
      routerLink="/waiter/tables"
      routerLinkActive="active"
      >Service</a
    >
    <a class="dropdown-item" routerLink="">Logout</a>
  </div>
    <div class="tables-wrapper">
        <ng-container *ngIf="rooms">
            <div class="select-box">
                <select [(ngModel)]="currentID" (change)="setTables()">
                    <ng-container *ngFor="let room of rooms">
                        <option [ngValue]="room.id">{{room.name}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="grid-wrapper">
                <ng-container *ngIf="grid">
                    <ng-container *ngFor="let row of grid;">
                        <div class="tableRow">
                            <ng-container *ngFor="let col of row;">
                                <ng-container *ngIf="col; else empty">
                                    <app-table-view [table]="col"></app-table-view>
                                </ng-container>
                                <ng-template #empty>
                                    <app-empty-view></app-empty-view>
                                </ng-template>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
    
</section>