@import '../../../../../styles.scss';

section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.tables-wrapper {
    flex: 1 1 100%;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
}

select {
    min-width: 200px;
    max-width:250px;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 24px;
    margin: 16px;
    outline: none;
    text-align:center;
}

.tableRow {
    display: flex;
    margin: 16px 0px;
    justify-content: space-evenly;
}

.select-box {
    margin-bottom: 1em;
    text-align: center;
}

p {
    text-align: center;
}

@media (max-width: 768px) {
    select {
        width: 85%;
    }
}

.float{
	position:fixed;
	height:40px;
    width:40px;
    right:0px;
    top:13px;
	background-color: transparent;;
	color:#FFF;
    justify-content:center;
    display:flex;
    align-items:center;
    
}

.dropdown-menu{
    
    text-align:center;
    background-color: $buttonLight;
    border-radius:1em;
}

.dropdown-item{
    font-size:15px;
}
.dropdown-item.active, .dropdown-item:hover {
    background-color: transparent;
}

.btn{
    border-radius:1em;
}
fa-icon{
    font-size: 20px;
    color:black;
  }

.floorSelectView{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:25px;
    
  }
  