
    <section class="rooms">
        <ng-container *ngIf="rooms">
            <ng-container *ngFor="let room of rooms">
                <div class="room">
                    <span>{{room.name}}</span>
                    <button class="btnEdit" (click)="edit(room)">Edit</button>
                </div>
            </ng-container>
        </ng-container>
        <form #editorForm="ngForm">
                <div class="d-flex">
                    <label>Columns</label>
                    <select required name="columns-select" [(ngModel)]="columns">
                        <ng-container *ngFor="let col of columnsOption">
                            <option [ngValue]="col">{{col}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="d-flex">
                    <label>Rows</label>
                    <select required name="rows-select" [(ngModel)]="rows">
                        <ng-container *ngFor="let row of rowsOption">
                            <option [ngValue]="row">{{row}}</option>
                        </ng-container>
                    </select>
                </div>
                <div>
                    <label>Name</label>
                    <input required name="name" type="text" [(ngModel)]="name">
                </div>
            <button class="btnSubmit" (click)="create()" [disabled]="!editorForm.valid">Add</button>
        </form>
    </section>
<div class="row">
    <section class="col-md-5 offset-md-1">
        <ng-container *ngIf="grid">
            <p>Layout</p>
            <div class="grid-box">
                <ng-container *ngFor="let col of grid; let i=index">
                    <div class="row">
                        <ng-container *ngFor="let row of col; let j=index">
                            <app-table-option 
                            (addTable)="add($event)" 
                            (deleteTable)="delete($event)" 
                            [table]="row"
                            [coordX]="i" 
                            [coordY]="j">
                            </app-table-option>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="button-box">
                <button (click)="save()" class="btnSubmit">Save</button>
            </div>
        </ng-container>
    </section>
    <aside class="col-md-5">
        <ng-container *ngIf="picked">
            <p>Tables</p>
        </ng-container>
        <ng-container *ngFor="let table of tables">
            <app-table-info [table]="table" ></app-table-info>
        </ng-container>
    </aside>
</div>
