@import '../../../../../styles.scss';

p, .select-box, .button-box{
    text-align: center;
}

p {
    font-size: 24px;
}

select {
    min-width: 60px;
    margin: 0px 8px;
    border-radius: 8px;
    padding: 0px 8px;
    border: 1px solid black;
}

input {
    margin: 0px 8px;
    border-radius: 8px;
    padding: 0px 8px;
    width: 125px;
    border: 1px solid black;
    text-align: center;
}

.input-box{
    display: flex;
    padding: 10px 0px;
}

.grid-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.row {
    flex: 1;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.room {
    display: flex;
    padding: 0.5em;
    margin: 8px;
    background-color: $gray;
    border-radius: 8px;
    align-items: center;
}

form {
    background-color: $gray;
    padding: 0.5em;
    margin: 8px auto;
    min-width: 0;
    border-radius: 8px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.btnSubmit, .btnEdit, .btnDelete {
    padding: 8px 16px;
    margin-left: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    border: 0;
    font-size: 14px;
    color: $textLight;
    background-color: $darkBlue;
    transition: 0.5s ease-in-out;
    outline: 0;
}

.btnDelete {
    background-color: $red;
}

.btnSubmit:not(:disabled):hover, .btnEdit:hover, .btnDelete:hover {
    transform: scale(1.05);
}

label {
    margin: 0;
}

app-table-option{
    margin: 3px;
}