
<section class="rooms">
    <ng-container *ngIf="rooms">
        <ng-container *ngFor="let room of rooms">
            <div class="room">
                <span>{{room.name}}</span>
                <button class="btnEdit" (click)="edit(room)">Edit</button>
                <button class="btnDelete" (click)="deleteRoom(room)">Delete</button>
            </div>
        </ng-container>
    </ng-container>
</section>
<section>
    <form #editorForm="ngForm">
        <div class="input-box">
            <label>Columns</label>
            <select required name="columns-select" [(ngModel)]="columns">
                <ng-container *ngFor="let col of columnsOption">
                    <option [ngValue]="col">{{col}}</option>
                </ng-container>
            </select>
        </div>
        <div class="input-box">
            <label>Rows</label>
            <select required name="rows-select" [(ngModel)]="rows">
                <ng-container *ngFor="let row of rowsOption">
                    <option [ngValue]="row">{{row}}</option>
                </ng-container>
            </select>
        </div>
        <div class="input-box">
            <label>Name</label>
            <input required name="name" type="text" [(ngModel)]="name">
        </div>
        <div class="input-box">
            <button class="btnSubmit" (click)="create()" [disabled]="!editorForm.valid">Add</button>
        </div>
    </form>
</section>
<div class="row">
    <article class="col-lg-5 offset-lg-1">
        <ng-container *ngIf="grid">
            <p>Layout</p>
            <div class="grid-box">
                <ng-container *ngFor="let col of grid; let i=index">
                    <div class="row">
                        <ng-container *ngFor="let row of col; let j=index">
                            <app-table-option 
                            (addTable)="add($event)" 
                            (deleteTable)="delete($event)" 
                            [tables]="tables"
                            [table]="row"
                            [coordX]="i" 
                            [coordY]="j">
                            </app-table-option>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="button-box">
                <button (click)="save()" class="btnSubmit">Save</button>
            </div>
        </ng-container>
    </article>
    <aside class="col-lg-5">
        <ng-container *ngIf="picked">
            <p>Tables</p>
        </ng-container>
        <ng-container *ngFor="let table of tables">
            <app-table-info [table]="table" ></app-table-info>
        </ng-container>
    </aside>
</div>
