@import '../../../../styles.scss';

form {
    text-align: center;
    margin: 1em;
    padding: 1em;
}

label {
    display: block;
    color: $textLight;
    text-shadow: 0px 4px 4px $textDark;
    font-size: 24px;
}

input {
    margin: 0.25em auto 1em auto;
    width: 75%;
    border: 2px solid $darkBlue;
    padding: 4px 8px;
    border-radius: 8px;
    color: $textLight;
    font-size: 24px;
    background-color: transparent;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

input.ng-touched.ng-invalid{
    border: 2px solid $invalid;
}

.input-box {
    margin: 0.5em 0em;
    box-shadow: rgba(0, 0, 0, 0.25);
}

.btnSubmit {
    padding: 8px 16px;
    border: 0px;
    font-size: 24px;
    border-radius: 8px;
    min-width: 125px;
    color: $textLight;
    background-color: $darkBlue;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnSubmit:disabled {
    background-color: rgb(27, 28, 65);
}

.btnSubmit:not(:disabled):hover {
    transform: scale(1.1);
}

.warning {
    display: block;
    color: $invalid;
}

a {
    color: $textLight;
    text-decoration: none;
    display: block;
    padding: 16px;
}

a:hover {
    text-decoration: none;
}

.button-box {
    margin: 1em;
}