<section>
    <div class="chart">
        <canvas baseChart 
          [datasets]="chartData"
          [labels]="labels"
          [colors]="colors"
          [options]="options"
          [legend]="legend"
          [chartType]="chartType">
        </canvas>
      </div>
      <div class="comparision">
        <p>Comparision</p>
        <mat-form-field color="accent">
          <mat-label>From</mat-label>
          <input [(ngModel)]="dateFromFirst" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 color="primary" ></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>To</mat-label>
          <input [(ngModel)]="dateToFirst" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary" ></mat-datepicker>
        </mat-form-field>
        <p>vs</p>
        <mat-form-field color="accent">
          <mat-label>From</mat-label>
          <input [(ngModel)]="dateFromSecond" matInput [matDatepicker]="picker3">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 color="primary" ></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>To</mat-label>
          <input [(ngModel)]="dateToSecond" matInput [matDatepicker]="picker4">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4 color="primary" ></mat-datepicker>
        </mat-form-field>
        <div class="button-box">
          <button class="btnCompare" (click)="compare()">Compare</button>
        </div>
      </div>
</section>

