@import "../../../../styles.scss";
div {
    text-align: center;
}
button {
    border-radius: 5px;
    margin: 10px;
    border: none;
    padding: 5px;   
    background-color: $buttonDark;
    color: $textLight;
}
.ordersDiv {
    //background-color: gray;
    border-radius: 15px;
}
input {
    margin-top: 20px;
    border-radius: 5px;
    border:none;
}
.dateInput {
    padding: 3px;
}