@import "../../../../../styles.scss";

.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
.summary {
  text-align: center;
  font-size: 40px;
  height: 40px;
}
li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.productInfo {
  font-size: 20px;
  background-color: $blue;
  padding: 10px;
  width: 100%;
  border-radius: 1em;
  outline: none;
  border: none;
  color: black;
}

.productInfo:active,
.productInfo:focus {
  outline: 0;
}
.amountButton {
  background-color: transparent;
  border: 0;
}

.amountButton:active,
.amountButton:focus {
  outline: 0;
}
.orderNotes {
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
}
