<nav class="navbar navbar-expand-md navbar-dark">

    <a class="navbar-brand">Nazwa Aplikacji</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="statistics" routerLinkActive="active">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="personnel" routerLinkActive="active">Personnel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Room editor</a>
            <!--a class="nav-link" routerLink="room-editor" routerLinkActive="active">Room editor</a-->
          </li>
        </ul>
      </div>


</nav>



