@import '../../../../styles.scss';



.navbar{
    padding: 1em;
    //border-bottom:1px solid black;
    background-color:$navbarBackground;
}
.dropdown-menu{
    background-color: $dropdownMenuColor;
}
.dropdown-item:hover {
    background-color: transparent;
}
