@import '../../../../styles.scss';

.navbar{
    padding: 1em;
    background-color:$navbarBackground;
}
.dropdown-menu{
    background-color: $dropdownMenuColor;
}
.dropdown-item:hover {
    background-color: transparent;
}

a:hover{
    cursor: pointer;
}