@import '../../../../../styles.scss';

section {
    display: flex;
    background-color: $gray;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}

p {
    flex: 3;
    text-align: center;
    margin: 0;
}

p.short {
    flex: 2;
}