<h3>Add category</h3>
<section class="d-flex container-fluid flex-column col-12">
  <form (submit)="createCategory()" [formGroup]="categoryForm">
    <div class="form-group">
      <label for="nameOfCategory">Name</label>
      <input
        type="text"
        formControlName="name"
        class=" form-control globalShadow"
        id="nameOfCategory"
        placeholder="Category's name"
      />
    </div>
    <div class="warning-box">
      <ng-container *ngIf="categoryForm.get('name').touched && categoryForm.get('name').invalid">
        <span class="warning" *ngIf="categoryForm.get('name').errors.required">Category's name can't be empty</span>
      </ng-container>
    </div>

    <label>Icon</label>
    <mat-form-field>
      <mat-select formControlName="icon" >
        <mat-select-trigger>
          <ng-container *ngIf="categoryForm.get('icon').value">
            <img src="../../../../../assets/images/{{categoryForm.get('icon').value}}" alt="">
          </ng-container>
        </mat-select-trigger>
        <mat-option [value]="'pizza.png'"><img src="../../../../../assets/images/pizza.png"alt="pizza"></mat-option>
        <mat-option [value]="'burger.png'"><img src="../../../../../assets/images/burger.png"alt="burger"></mat-option>
        <mat-option [value]="'fries.png'"><img src="../../../../../assets/images/fries.png"alt="fries"></mat-option>
        <mat-option [value]="'main.png'"><img src="../../../../../assets/images/main.png"alt="main"></mat-option>
        <mat-option [value]="'soup.png'"><img src="../../../../../assets/images/soup.png"alt="soup"></mat-option>
        <mat-option [value]="'salad.png'"><img src="../../../../../assets/images/salad.png"alt="salad"></mat-option>
        <mat-option [value]="'fish.png'"><img src="../../../../../assets/images/fish.png"alt="fish"></mat-option>
        <mat-option [value]="'dessert.png'"><img src="../../../../../assets/images/dessert.png"alt="dessert"></mat-option>
        <mat-option [value]="'drink.png'"><img src="../../../../../assets/images/drink.png"alt="drink"></mat-option>
        <mat-option [value]="'wrap.png'"><img src="../../../../../assets/images/wrap.png"alt="wrap"></mat-option>
      </mat-select>
    </mat-form-field>

    <div class="warning-box">
      <ng-container *ngIf="categoryForm.get('icon').touched && categoryForm.get('icon').invalid">
        <span class="warning" *ngIf="categoryForm.get('icon').errors.required">Icon must be selected</span>
      </ng-container>
    </div>

    <div class="buttons-container d-flex justify-content-around">
      <button type="submit" class="btn-sm btn-success globalShadow" [disabled]="!categoryForm.valid">
        <fa-icon [icon]="acceptIcon"></fa-icon>
      </button>
      <button type="button" class="btn-sm btn-danger globalShadow" (click)="resetForm()">
        <fa-icon [icon]="cancelIcon"></fa-icon>
      </button>
    </div>
  </form>
</section>
