<h3>Add category</h3>
<section class="d-flex container-fluid flex-column col-12">
  <form (submit)="createCategory()" [formGroup]="categoryForm">
    <div class="form-group">
      <label for="nameOfCategory">Name</label>
      <input
        type="text"
        formControlName="name"
        class=" form-control globalShadow"
        id="nameOfCategory"
        placeholder="Category's name"
      />
    </div>
    <div class="warning-box">
      <ng-container *ngIf="categoryForm.get('name').touched && categoryForm.get('name').invalid">
        <span class="warning" *ngIf="categoryForm.get('name').errors.required">Category's name can't be empty</span>
      </ng-container>
    </div>

    <label>Icon</label>
    <div class="select-icon">
      <mat-form-field>
        <mat-select formControlName="imagePath" >
          <mat-select-trigger>
            <ng-container *ngIf="categoryForm.get('imagePath').value">
              <img src="../../../../../assets/images/{{categoryForm.get('imagePath').value}}" alt="">
            </ng-container>
          </mat-select-trigger>
          <mat-option [value]="'pizza.png'"><img src="../../../../../assets/images/pizza.png"alt="pizza"></mat-option>
          <mat-option [value]="'burgers.png'"><img src="../../../../../assets/images/burgers.png"alt="burgers"></mat-option>
          <mat-option [value]="'fries.png'"><img src="../../../../../assets/images/fries.png"alt="fries"></mat-option>
          <mat-option [value]="'main.png'"><img src="../../../../../assets/images/main.png"alt="main"></mat-option>
          <mat-option [value]="'soup.png'"><img src="../../../../../assets/images/soup.png"alt="soup"></mat-option>
          <mat-option [value]="'salads.png'"><img src="../../../../../assets/images/salads.png"alt="salads"></mat-option>
          <mat-option [value]="'fish.png'"><img src="../../../../../assets/images/fish.png"alt="fish"></mat-option>
          <mat-option [value]="'desserts.png'"><img src="../../../../../assets/images/desserts.png"alt="desserts"></mat-option>
          <mat-option [value]="'drinks.png'"><img src="../../../../../assets/images/drinks.png"alt="drinks"></mat-option>
          <mat-option [value]="'wraps.png'"><img src="../../../../../assets/images/wraps.png"alt="wraps"></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="warning-box">
      <ng-container *ngIf="categoryForm.get('imagePath').touched && categoryForm.get('imagePath').invalid">
        <span class="warning" *ngIf="categoryForm.get('imagePath').errors.required">Icon must be selected</span>
      </ng-container>
    </div>

    <div class="buttons-container d-flex justify-content-around">
      <button type="submit" class="btn-sm btn-success globalShadow" [disabled]="!categoryForm.valid">
        <fa-icon [icon]="acceptIcon"></fa-icon>
      </button>
      <button type="button" class="btn-sm btn-danger globalShadow" (click)="resetForm()">
        <fa-icon [icon]="cancelIcon"></fa-icon>
      </button>
    </div>
  </form>
</section>
