@import "../../../../../styles.scss";


section {
    
    padding:1em;
}

h2 {
  text-align: center;
  font-weight: bold;
  padding:1em;
}

.table{
  //border-radius:1em;
 
}

tbody tr:hover{
  cursor:pointer;
}