@import "../../../../../styles.scss";

section {
  padding:1em;
}

h2 {
  text-align: center;
  font-weight: bold;
  padding:1em;
}

tbody tr:hover{
  cursor:pointer;
}

td:last-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

fa-icon{
  transition: 0.5s ease-in-out;
}

fa-icon:hover{
  color: $buttonLight;
}

.table {
  background-color: $gray;
}

thead {
  background-color: $buttonDark;
  color: $textLight;
  border: 0;
}

td, th {
  border-color: $buttonDark !important;
}