@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

$backgroundColor: rgba(146, 246, 253, 0.40);
$red: #DD6C6C;
$green: #98D8B1;
$yellow: #CFD082;
$gray: #C4C4C4;
$blue: #88ACE2;
$lightBlue: #BED1EE;

body {
    font-family: 'Montserrat', sans-serif;      
}

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
