@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

$backgroundColor: rgba(146, 246, 253, 0.40);
$backgroundGradient: linear-gradient(rgb(67, 149, 155), #B1C6C8);
$invalid: #d34545;
$red: #DD6C6C;
$green: #98D8B1;
$yellow: #CFD082;
$gray: #C4C4C4;
$blue: #88ACE2;
$lightBlue: #BED1EE;
$darkBlue: #23569C;
$textLight: #eee;
$textDark: #222;

html, body {
    font-family: 'Montserrat', sans-serif;  
    height: 100%;    
    background-image: $backgroundGradient;
}

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.table-view {
    padding: 20px;
    margin: 2px;
    min-width: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 8px;
}

.free {
    background-color: $green;
}

.serve {
    background-color: $yellow;
}

.occupied {
    background-color: $red;
}

@import "~bootstrap/dist/css/bootstrap.css"; // don't move !!!