@import '../../../../../styles.scss';



form{
    margin-top:10px;
}

.form-group{
    padding:5px 0px;
}
label{
    font-size:15px;
}


.warning-box{
    text-align: center;
    padding:2px;
}
.warning {
    color: $invalid;
    font-size: 12px;
    
    
  }
  
  input.ng-valid, select.ng-valid {
    border: 2px solid $green;
  }
  
  input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
    border: 2px solid $invalid;
  }

  #customerNote{
    border: 0;
  }







.btn{
    padding:0;
}
.button-box{
    position:fixed;
    bottom:0;
    left:0;
    text-align: center;
    height: 50px;
}
.btn:focus,.btn:active{
    outline: none;
    box-shadow: none;
}
.add-reservation-button{
     font-size:30px;
     overflow: none;

}

