@import '../../../../../styles.scss';






















.button-box{
    position:fixed;
    bottom:0;
    text-align: center;
    height: 50px;
}

.add-reservation-button{
     font-size:30px;
}
