@import "../../../../styles.scss";
.componentDiv {
    background-color: #dcdde1;
    margin-bottom: 2px;
    border-radius: 5px;
    display: flex;   
}
.componentReady {
    background-color:#45bd32e3;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    overflow: hidden;
}
.componentName {    
    padding: 4px;
    width:100%;
    
}
.deleteIcon {
    //display: flex;
    text-align: center;
    vertical-align: auto;
    width: 20%;
    background-color: $invalid;
    
}