<section class="container-fluid bill-view">
  <div class="button-box">
    <button
      type="button"
      class="globalShadow button-split"
      (click)="splitTheBill()"
    >
      Split the bill
    </button>
  </div>
  <li>
    <ng-container *ngIf="productsInOrder">
      <ul *ngFor="let product of productsInOrder; index as i">
        <div
          class="product-name justify-content-between d-flex align-items-center"
          *ngIf="product.status == 'SERVED'"
        >
          {{ product.product.name}}
          <mat-checkbox
            [id]="i"
            [checked]="checkStatus[i]"
            (change)="changeTotalAmount($event, product.product.price)"
          ></mat-checkbox>
        </div>
      </ul>
    </ng-container>
  </li>
  <div class="text-left container-fluid mt-3">To pay:</div>
  <div class="text-right container-fluid mt-1 font-weight-bold">
    {{ totalAmount }}
  </div>
  <div class="button-box">
    <button
      type="button"
      class="btn-success button-payment globalShadow"
      (click)="billPayment()"
    >
      Payment
    </button>
  </div>
</section>
