@import '../../../../../styles.scss';

.form-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0.5em;
    margin-top: 1em;
    background-color: $gray;
    border-radius: 8px;
}

.btnConfirm {
    border-radius: 8px;
    border: 0;
    margin-top: 0.5em;
    height: 36px;
    padding: 4px 8px;
    background-color: $darkBlue;
    color: $textLight;
}

section {
    margin: 1em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.chart {
    display: block;
    background-color: $gray;
    border-radius: 8px;
    padding: 0.5em;
}

.best {
    grid-column: 1/2;
    grid-row: 1/2;
}

.worst {
    grid-column: 1/2;
    grid-row: 2/3;
}

app-pie-chart {
    grid-column: 2/3;
    grid-row: 1/3;
}

@media(max-width: 1000px){
    section {
        grid-template-rows: repeat(3, 1fr);
    }
    .best {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .worst {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    app-pie-chart {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .btnConfirm {
        margin-bottom: 0.25em;
    }
}